<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:query {"query":{"perPage":null,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-query">
	<!-- wp:post-template -->
		<!-- wp:pattern {"slug":"greyd-wp/content-post-card"} /-->
	<!-- /wp:post-template -->

	<!-- wp:query-no-results -->
		<!-- wp:pattern {"slug":"greyd-wp/hidden-no-results"} /-->
	<!-- /wp:query-no-results -->

	<!-- wp:query-pagination -->
		<!-- wp:query-pagination-previous /-->

		<!-- wp:query-pagination-numbers /-->

		<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination -->

</main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->